/* ANIMATIONS HP */

$timing-spin: 2s;
$timing-display: 1s;

.container--loader {
    position: absolute;
    top: 50%; left: 50%;
    width: 50px;
    height: 50px;
}

.loader--main {
    opacity: 0;
    animation: display-container $timing-display $timing-spin linear forwards;
}

.loader {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 6px solid rgba(147, 86, 220, 0.4);
}

.loader {
    opacity: 0;
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: $bg-primary;
    border-bottom-color: $bg-primary;
    animation: loading-spin $timing-spin linear forwards;
}

.loader:after {
    content: "";
    position: absolute;
    top: 5px; left: 5px; right: 5px; bottom: 5px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: $bg-secondary;
    border-bottom-color: $bg-secondary;
    opacity: .6;
    animation: loading-spin $timing-spin linear forwards;
}

@keyframes loading-spin {
    0% {
        transform: rotate(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(2turn);
        opacity: 0;
    }
}

@keyframes loading-spinreverse {
    0% {
        transform: rotate(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(1turn);
        opacity: 0;
    }
}

@-webkit-keyframes display-container {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ANIMATIONS PLATS */
.plat {
    opacity: 0;
    animation: anim-plat 2s cubic-bezier(.1,.9,.1,1) both;
    
    &--1 {
        animation-delay: 500ms;
    }
    &--2 {
        animation-delay: 700ms;
    }
    &--3 {
        animation-delay: 900ms;
    }
    &--4 {
        animation-delay: 1100ms;
    }
}

@keyframes anim-plat {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ANIMATION plat checked */
.plat {
    &__slide {
        @include flexbox(row, "", "", "", flex-end);
        transform: translateX(60px);
        animation: anim-check-reverse 400ms linear backwards;
    }
    &__suspensions {
        opacity: 0;
        //transform: translateX(20px);
        //animation: anim-check-reverse 200ms linear both;
    }
    &:hover &__slide {
        animation: anim-check 400ms linear forwards;
    }
    &:hover &__suspensions {
        animation: anim-suspensions 200ms 200ms linear forwards;
    }
}

@keyframes anim-check {
    0% {
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes anim-check-reverse {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(60px);
    }
}

@keyframes anim-suspensions {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes anim-suspensions-reverse {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}