@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin btn {
    width: 220px;
    padding: $btn-padding;
    border-radius: $btn-radius;
    color: $btn-colour;
    background-image: linear-gradient(to bottom right, $bg-secondary, $bg-primary);
    cursor: pointer;
    &:hover{
        background: $colour-primary;
        color: $colour-accent;
    }
    &--full-width {
        width: 220px;
        margin: 0 auto;
    }
}

@mixin flexbox($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}