@mixin flexbox($flexdirection, $flexwrap, $aligncontent, $justifycontent, $alignitems) {
    display: flex;
    @if ($flexdirection != "") {flex-direction: $flexdirection;}
    @if ($flexwrap != "") {flex-wrap: $flexwrap;}
    @if ($aligncontent != "") {align-content: $aligncontent;}
    @if ($justifycontent != "") {justify-content: $justifycontent;}
    @if ($alignitems != "") {align-items: $alignitems;}
}

@mixin bloc {
    margin-bottom: 20px;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    @include shadow;
}

@mixin shadow {
    box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.5);
}

@mixin shadow-hover {
    box-shadow: 4px 4px 10px 0px rgba(95, 63, 63, 0.7);
}

@mixin gradient {
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
}

@mixin gradient-hover {
    background-image: linear-gradient(to bottom right, $color-btn-hover-secondary, $color-btn-hover-primary);
}

@mixin border-all-radius($border-radius) {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

@mixin border-top-radius($border-radius) {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

@mixin border-bottom-radius($border-radius) {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

@mixin border-right-radius($border-radius) {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

@mixin breakpoints($screen) {
    @media screen and (min-width: map-get($breakpoints, $screen)){
        @content;
    }
}

@mixin text_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}