@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin flexbox($flexdirection, $flexwrap, $aligncontent, $justifycontent, $alignitems) {
    display: flex;
    @if ($flexdirection != "") {flex-direction: $flexdirection;}
    @if ($flexwrap != "") {flex-wrap: $flexwrap;}
    @if ($aligncontent != "") {align-content: $aligncontent;}
    @if ($justifycontent != "") {justify-content: $justifycontent;}
    @if ($alignitems != "") {align-items: $alignitems;}
}

@mixin bloc {
    margin-bottom: 20px;
    padding: 25px;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    @include shadow;
}

@mixin shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@mixin border-all-radius($border-radius) {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

@mixin border-top-radius($border-radius) {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

@mixin border-bottom-radius($border-radius) {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

@mixin breakpoints($screen) {
    @media screen and (min-width: map-get($breakpoints, $screen)){
        @content;
    }
}