$colour-primary: #000;
$colour-secondary: #fff;
$colour-tertiary: #000;
$colour-accent: #9356DC;
$colour-white: #fff;
$bg-primary: #9356DC;
$bg-secondary: #FF79DA;
$bg-tertiary: #99E2D0;
$bg-colour: #fff;
$bg-colour-resto: #f6f6f6;
$bg-footer: #353535;

$layout-margin: 20px;
$border-radius: 20px;

$btn-colour: #fff;
$btn-padding: 15px;
$btn-radius: 18px;

$picto-color: grey;

$colour-border-title-secondary: #99e2d0;

//Nombre de bouton de recherche
$btnsearchnumber: 3;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px

);

$lienphotos: (
    photo1: url(../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg),
    photo2: url(../images/stil-u2Lp8tXIcjw-unsplash.jpg),
    photo3: url(../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg),
    photo4: url(../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg)
);