.main {
    max-width: 1900px;
    margin: 0 auto;
}

.logo {
    position: relative;
    width: 100%;
    
    &__arrow_back {
        display: none;
    }
    &--header {
        @include flexbox(row, "", "", center, center);
        margin: 22px 0 12px 0;
    }
    &--footer {
        @include flexbox(row, "", "", "", center);
        margin-bottom: 16px;

    }
}

.container {
    padding-bottom: 2rem;
    &--padding {
        padding: 0 $layout-margin 2rem $layout-margin;
    }
    &--gradient {
        background-image: linear-gradient(#fff, #f6f6f6);
    }
    &--rowcenter {
        @include flexbox("", "", "", center, "");
    }
    &--aligncenter {
        align-items: center;
    }
    &--bg1 {
        background-color: $color-bg;
    }
    &--bg2 {
        background-color: #fff;
    }
    &--menu {
        margin-top: 194px;
        @include breakpoints(lg) {
            margin-top: 300px;
        }
        @include breakpoints(lg) {
            margin-top: 300px;
        }
        padding: 0 12px 0 14px;
        @include border-top-radius(50px);
    }
    &--flexrow {
        @include breakpoints(md) {
            @include flexbox(row, wrap, "", space-between, "");
        }
    }
    &--flexrowmenu {
        @include flexbox("", "", "", space-between, center);
        padding-top: 40px;
        & i {
            margin-right: 38px;
        }
    }
    &--plats {
        @include flexbox(column, wrap, center, "", "");
        @include breakpoints (md) {
            @include flexbox(row, wrap, "", space-between, "");
        }
    }
    &--footer {
        padding-top: 1.8rem;
        padding-bottom: 1.5rem;
        background-color: $color-footer;
    }
}

.title {
    padding: 60px 0 28px 0; 
}

.instructions {
    & ul {
        @include flexbox(column, "", "", "", center);
        @include breakpoints (md) {
            @include flexbox(row, wrap, "", space-around, "");
        }
    }
    & li {
        @include flexbox(row, "", "", "", center);
        width: 268px;
        position: relative;
        background-color: $color-bg;
        @include bloc;
        padding: 25px;
        &.bg {
            background-color: $color-quarternary;
            & i {
                color: $color-primary;
            }
        }
        & i {
            margin: 0 15px 0 10px;
            font-size: larger;
            color: grey;
        }
        &::before {
            position: absolute;
            left: -15px;
            background-color: $color-primary;
            color: #fff;
            border-radius: 12px;
            padding: 5px 10px;
            font-size: 0.8em;
        }
        @for $i from 1 through $btnsearchnumber {
            &.num#{$i}::before {
                content: '#{$i}';
            }
        }
        @include breakpoints(lg) {
            width: 230px;
        }
        @include breakpoints(xl) {
            width: 300px;
        }
        @include breakpoints(xxl) {
            width: 370px;
        }
    } 
}