.main {
    
}

.container {
    @include flexbox(column, "", "", "", "");
    padding-bottom: 2rem;
    &--padding {
        padding: 0 $layout-margin 2rem $layout-margin;
    }
    &--gradient {
        background-image: linear-gradient(#fff, #f6f6f6);
    }
    &--aligncenter {
        align-items: center;
    }
    &--bg {
        background-color: $bg-colour-resto;
    }
    &--flexrow {
        @include breakpoints {
            @include flexbox(row, wrap, "", space-between, "");
        }
    }

}