footer {
    & * {
        color: $colour-secondary;
    }
    & a.logo {
        margin-bottom: 15px;
    }
    & ul {
        & li {
            line-height: 23px;
            & i {
                width: 20px;
                margin-right: 12px;
                font-size: smaller;
            }
        }
    }
}