footer {
    & * {
        color: $colour-secondary;
    }
    & img {
        width: 100px;
        margin: 1.5rem 0 0.7rem 0;
    }
    & ul {
        & li {
            line-height: 23px;
            & i {
                width: 20px;
                margin-right: 12px;
                font-size: smaller;
            }
        }
    }
}