.cntlogolocation, .cnttitlebtn {
    & * {
        text-align: center;
    }
}

.logo {
    margin: 22px 0 12px 0; 
}

.location {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #eaeaea;
    box-shadow: inset 0px 5px 9px -5px rgb(0 0 0 / 40%);
    & i  {
        margin-right: 20px;
    }
}

.cnttitlebtn {
    @include flexbox(column);
    padding-bottom: 58px;
    background-image: linear-gradient(#fff, #f6f6f6);
    //box-shadow: inset 0px 5px 9px -5px rgb(0 0 0 / 40%);
    & h1 {
        margin-top: 2rem;
        padding: 0 4rem;
    }
}

.cntsearch {
    & h2 {
        margin-top: 20px;
        line-height: 60px;
    }
}

.search {
    
}