.location {
    position: relative;
    @include flexbox(row, "", "", center, center);
    height: 50px;
    background-color: #eaeaea;
    box-shadow: inset 0px 5px 9px -5px rgb(0 0 0 / 40%);
    & i  {
        margin-right: 20px;
    }
}

.headertxt {
    text-align: center;
    & p.primarytxt {
        margin: 43px 65px 0;
        
    }
    & p.secondarytxt {
        margin: 15px 40px 0;
    }
}