.btncta {
    margin: 2rem 0 1rem 0;
    text-align: center;
    padding: 15px 20px;
    border-radius: 30px;
    color: $btn-colour;
    background-image: linear-gradient(to bottom right, $bg-secondary, $bg-primary);
    @include shadow;
    cursor: pointer;
    &:hover{
        background: $colour-primary;
    }
}

.shape {
    @include flexbox(column, "", "", "", center);
    @include breakpoints (md) {
        @include flexbox(row, wrap, "", space-between, "");
    }
    &__hp {
        margin: 0 25px 0 40px;
    }
    & div, li {
        position: relative;
        @include flexbox(row, "", "", "", center);
        width: 100%;
        margin-bottom: 20px;
        padding: 25px;
        border: 0;
        border-radius: 20px;
        font-weight: bold;
        cursor: pointer;
        @include shadow;
        & i {
            margin-right: 23px;
            font-size: larger;
            color: $picto-color;
        }
    }
    &--ajustwidth {
        width: 275px;
        @include breakpoints(lg) {
            width: 250px;
        }
    }
    &--bg {
        background-color: $bg-colour-resto;
    }
    &__num {
        &::before {
            position: absolute;
            left: -15px;
            background-color: $bg-primary;
            color: $colour-secondary;
            border-radius: 12px;
            padding: 5px 10px;
            font-size: 0.8em;
        }
        @for $i from 1 through $btnsearchnumber {
            &--#{$i}::before {
                content: '#{$i}';
            }
        }
    }   
}