.btncta {
    width: 220px;
    margin: 2rem 0 1rem 0;
    text-align: center;
    padding: $btn-padding;
    border-radius: $border-radius;
    color: $btn-colour;
    background-image: linear-gradient(to bottom right, $bg-secondary, $bg-primary);
    @include shadow;
    cursor: pointer;
    &:hover{
        background: $colour-primary;
        color: $colour-accent;
    }
}

.search {
    & div {
        position: relative;
        @include flexbox(row, "", "", "", center);
        margin: 0 0 20px 12px;
        padding: 25px;
        border-radius: 20px;
        color: $colour-primary;
        font-weight: bold;
        cursor: pointer;
        background-color: $bg-colour-resto;
        @include shadow;
        &::before {
            position: absolute;
            left: -15px;
            background-color: $bg-primary;
            color: $colour-secondary;
            border-radius: 12px;
            padding: 5px 10px;
            font-size: 0.8em;
        }
        & i {
            margin-right: 23px;
            font-size: larger;
            color: $picto-color;
        }
    }
    @for $i from 1 through 3 {
        &--num#{$i}::before {
            content: '#{$i}';
        }
    }
}