@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Shrikhand-Regular.ttf") format("truetype");
    
    font-family: "Roboto";
    src:    url("../../fonts/Roboto-Black.ttf") format("truetype"),
            url("../../fonts/Roboto-BlackItalic.ttf") format("truetype"),
            url("../../fonts/Roboto-BoldItalic.ttf") format("truetype"),
            url("../../fonts/Roboto-Italic.ttf") format("truetype"),
            url("../../fonts/Roboto-Light.ttf") format("truetype"),
            url("../../fonts/Roboto-LightItalic.ttf") format("truetype"),
            url("../../fonts/Roboto-Medium.ttf") format("truetype"),
            url("../../fonts/Roboto-MediumItalic.ttf") format("truetype"),
            url("../../fonts/Roboto-Regular.ttf") format("truetype"),
            url("../../fonts/Roboto-Thin.ttf") format("truetype"),
            url("../../fonts/Roboto-ThinItalic.ttf") format("truetype"),
            url("../../fonts/Shrikhand-Regular.ttf") format("truetype");
}

body, p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

h1, h2, h3, h4 {
    font-family: 'Shrikhand', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.4em;
    &.menu {
        font-size: 2em;
        font-weight: 800;
        font-style: italic;
    }
}

h2 {
    font-size: 1.2em;
    margin-top: 20px;
    width: 100%;
    &.hp {
        line-height: 60px;
    }
    &.menu {
        line-height: 35px;
    }
}

h3 {
    font-size: 1em;
    padding-bottom: 7px;
    width: 100%;
}

h4 {
    font-size: 0.9em;
}

p {

}

footer ul li a {
    font-size: 0.9em;
}