body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

h1, h2, h3, h4 {
    font-family: 'Shrikhand', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.2em;
    line-height: 28px;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.9em;
}

textarea {
    
}

button {
    /*font-family: 'Roboto', sans-serif;*/
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}